<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<h3 th:text="${title}">Default Title</h3>

<ul>
    <li th:each="menu : ${menus}">
        <a href="'/menu/view/' + ${menu.id}" th:text="${menu.name}"></a>
    </li>
</ul>

<nav th:fragment="navigation">

    <a href="/menu/add">Add Menu</a>
</nav>

</body>
</html>